.App {
  /* text-align: center; */
  height: 100vh;
}

.text {
  color: white;
}

.form {
  margin-bottom: 30px;
  margin-top: 50px;
}

.input-btn {
  background-color: green;
  color: white;
  margin-left: 10px;
  padding: 4px;
  font-size: calc(7px + 2vmin);
  border-radius: 10px;
}

.form-input {
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.todoItems-container {
  width: 60%;
  margin: 0 auto;
}

.todoItems {
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 0 auto 0 auto;
}

.task {
  margin-right: 100px;
  margin-top: 0;
}

.todoItems-delete {
  background-color: red;
  color: white;
  padding: 6px;
  margin-left: 20px;
  border: 0;
  border-radius: 5px;
}

.todoItems-delete:hover {
  background-color: rgba(212, 16, 16, 0.568);
}

.todoItems-edit {
  background-color: green;
  color: white;
  padding: 6px 13px;
  border: 0;
  border-radius: 5px;
}

.todoItems-2 {
  display: flex;
  justify-content: left;
  margin-left: auto;
}

.input .MuiOutlinedInput-notchedOutline {
  padding: 0px !important;
}

.input .MuiOutlinedInput-input {
  padding: 12px 12px !important;
}

@media screen and (max-width: 1090px) {
  #card {
    width: 70%;
  }
}

@media screen and (max-width: 590px) {
  #card {
    width: 90%;
  }
}