.App {
  /* text-align: center; */
  height: 100vh;
}

.input .MuiOutlinedInput-notchedOutline {
  padding: 0px !important;
}

.input .MuiOutlinedInput-input {
  padding: 12px 12px !important;
}

@media screen and (max-width: 1090px) {
  #card {
    width: 70%;
  }
}

@media screen and (max-width: 590px) {
  #card {
    width: 90%;
  }
}